body{
    font-family: 'Roboto Slab', serif;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h3{
    font-size: 22px;
    font-weight: 600;
}
#header{
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    background-size: cover;
}
.header_text{
    padding-top: 150px;
    
}
.header_text h1{
    font-size: 48px;
    font-weight: 900;
    color: #fff;
    padding: 0 350px;
    text-align: center;
    margin: 0;
}
.header_text p{
    padding: 0 300px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.button_text{
    text-align: center;
    padding-top: 40px;
}
.header_btn {
    color: #fff;
    padding: 20px 40px;
    background-color: tomato;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
}
/* about part start */
#donate{
    padding: 100px 0;
}
.donate_text{
    text-align: center;
}
.donate_text h2{
    font-size: 35px;
    font-weight: 800;
}
.donate_text p{
    font-size: 16px;
    font-weight: 400;
    padding: 0 290px;
}
.donate_flex{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
}
.flex_item {
    background-color: whitesmoke;
    padding: 35px 20px;
    /* border: 2px solid rgb(190, 38, 38); */
    border: 2px solid transparent;
}
.flex_item:hover{
    background-color: rgb(255, 0, 0, 0.5);
    border: 2px solid red;
}
.amount_tk{
    text-align: center;
    border-bottom: 2px solid gray;
    width: 650px;
    margin-left: 350px;
}
/* about part end */
/* donate part start */
#donate_plan{
    padding-bottom: 100px;
}
.plan_text{
    text-align: center;
}

.plan_text h2{
    font-size: 35px;
    font-weight: 800;
}
.plan_text p{
    text-align: center;
    padding: 0 350px;
}
.plan_head{
    display: flex;
    gap: 20px;
    padding: 0 60px;
}
.plan_item{
    width: 32%;
    padding: 30px 10px;
}  
.color_change01{
    background-color: aquamarine;
}
.color_change02{
    background-color: rgb(238, 219, 180);
}
.color_change03{
    background-color: rgb(100, 136, 190);
}
/* donate part end */
/* update partn start */
#update{
    padding-bottom: 100px;
}
.update_head{
    text-align: center;
    padding-bottom: 50px;
}
.update_head h2{
    font-size: 35px;
    font-weight: 800;
}
.update_head p{
    font-size: 16px;
    font-weight: 400;
    padding: 0 290px;
}
.update_bottom{
    background-color: cornsilk;
    height: 200px ;
    width: 600px;
    margin: 0 380px;
}
.update_item{
    text-align: center;
   padding-top: 90px;
   color: #fff;
   font-family: 'Roboto Slab', serif;
   border-radius: 10px;
  
}
.item_1{
    background-color: rgb(128, 128, 128, 0.5);
    padding: 10px 20px ;
    border: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    
}
.item_2{
    background-color: orangered;
    padding: 10px 20px ;
    border: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
/* update partn end */
/* footer part start */
#footer{
    background-color: rgba(12, 10, 10, 0.938);
    height: 200px;
    width: 100;
}
.footer_head{
    text-align: center;
    padding-top: 40px;
}
.footer_head h2{
    font-size: 35px;
    font-weight: 800;
    color: orangered;
}
.footer_head p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
/* footer part end */